<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Opción</mat-label>
            <mat-select [formControl]="selectFormControl">
              <mat-option
                *ngFor="let i of options"
                [value]="i.value"
                (onSelectionChange)="getValue($event)"
              > 
                {{ i.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>TH</mat-label>
            <input
              type="number"
              matInput
              [formControl]="thFormControl"
              placeholder="Ex. 1"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Quamtum</mat-label>
            <input
              type="number"
              matInput
              [formControl]="quamtumFormControl"
              placeholder="Ex. 1"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <div class="col">
            <button class="btn btn-dark" (click)="getDatos()">Aplicar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Simulador"
    ><div class="card">
      <div class="row">
        <div class="col">
          <button
            [disabled]="!activedButton"
            class="btn btn-success"
            (click)="getList()"
          >
            Iniciar
          </button>
        </div>

        <!--
    <div class="col">
      <button (click)="showTable()" class="btn btn-info">
        Mostrar tabla de procesos
      </button>
    </div>-->

        <!--
        <div class="col">
          <button (click)="pause()" class="btn btn-danger">Detener</button>
        </div>-->
      </div>

      <div class="row">

        <p class="text-center fs-3">Esquema Visualización</p>
        <p class="font-weight-normal lead fs-6">Listos</p>


        <div class="row gx-5 align-items-start ">
      
          <div class="col p-3 border text-white bg-success bg-gradient " *ngFor="let item of ready">
            <p class="text-white text-center ">Proceso: {{ item.id }} </p>
            <!--<p>PID: {{ item.PID }}</p>-->
            <p>Nombre: {{item.nombre_imagen}}</p>
            <p>Quamtum: {{ item.tiempo_rafaga }}</p>
          </div>
          
        </div>



        <p class="font-weight-normal lead fs-6">Espera</p>

        <div class="row gx-5 align-items-start">
          
          <div class="col p-3 border bg-success p-2 text-white bg-opacity-75 " *ngFor="let item1 of keep">
            <p class="text-white text-center ">Proceso: {{ item1.id }}</p>
          <!--  <p>PID: {{ item1.PID }}</p>-->
            <p>Nombre: {{item1.nombre_imagen}}</p>
            <p>Quamtum: {{ item1.tiempo_rafaga }}</p>
          </div>
          
        </div>



        <p class="font-weight-normal lead fs-6">Ejecución</p>

        <div class="row gx-5 align-items-start">
          
          <div class="col p-3 border p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end" *ngFor="let item2 of Execution">
            <p class=" text-center ">Proceso: {{ item2.id }}</p>
            <!--<p>PID: {{ item2.PID }}</p>-->
            <p>Nombre: {{item2.nombre_imagen}}</p>
            <p>Quamtum: {{ item2.tiempo_rafaga }}</p>
          </div>
          
        </div>


        <p class="font-weight-normal lead fs-6">Terminado</p>


       <div class="row gx-5 align-items-start">
      
        <div class="col p-3 border text-white bg-danger bg-gradient" *ngFor="let item2 of End">
          <p class="text-white text-center ">Proceso: {{ item2.id }}</p>
          <!--<p>PID: {{ item2.PID }}</p>-->
          <p>Nombre: {{item2.nombre_imagen}}</p>
          <p>Quamtum: {{ item2.tiempo_rafaga }} </p>
        </div>
      
      </div>

      </div>
    </div></mat-tab
  >

  <mat-tab label="Tabla de procesos"
    ><div class="card">
      <div class="card-body">
        <div class="row">
          <p>Tabla de procesos</p>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>

                <th scope="col">Nombre</th>
                <th scope="col">Tiempo llegada</th>
                <th scope="col">Tiempo ráfaga</th>
                <th scope="col">Quamtum</th>

                <th scope="col">Retorno</th>
                <th scope="col">Tiempo finzalización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of table; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre_imagen }}</td>

                <td>{{ item.tiempo_llegada }}</td>
                <td>{{ item.tiempo_rafaga }}</td>
                <td>{{ item.quamtum }}</td>

                <td>{{ item.retorno }}</td>
                <td>{{ item.tiempo_finalizacion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div></mat-tab
  >
</mat-tab-group>
