<div class="card">
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="getList()">Iniciar</button>
    </div>

    <div class="col">
      <button (click)="showTable()" class="btn btn-info">
        Mostrar tabla de procesos
      </button>
    </div>

    <div class="col">
      <button (click)="pause()" class="btn btn-danger">Detener</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Listos</p>

      <div *ngFor="let item of ready">
        <p>{{ item.PID }}</p>
      </div>
    </div>

    <div class="col">
      <p>En espera</p>
      <div *ngFor="let item1 of keep">
        <p>{{ item1.PID }}</p>
      </div>
    </div>

    <div class="col">
      <p>Ejecución</p>
      <div *ngFor="let item2 of Execution">
        <p>{{ item2.PID }}</p>
      </div>
    </div>

    <div class="col">
      <p>Ejecución</p>
      <div *ngFor="let item2 of End">
        <p>{{ item2.PID }}</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <p>Tabla de procesos</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">PID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Uso de memoria</th>
            <th scope="col">Tiempo llegada</th>
            <th scope="col">Tiempo ráfaga</th>
            <th scope="col">Retorno</th>
            <th scope="col">Tiempo finzalización</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of table; let i = index">
            <th scope="row">{{ i }}</th>
            <td>{{ item.PID }}</td>
            <td>{{ item.nombre_imagen }}</td>
            <td>{{ item.uso_memoria }}</td>
            <td>{{ item.tiempo_llegada }}</td>
            <td>{{ item.tiempo_rafaga }}</td>
            <td>{{ item.retorno }}</td>
            <td>{{ item.tiempo_finalizacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
